<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SifoxMobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MyInAppBrowser</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pronto para entrar no nosso sistema em realtime?</strong>
    <p>Start with <a target="_blank" rel="noopener noreferrer" href="https://www.sysbrasil.com/">MyInAppBrowser</a></p>
  </div>
</ion-content>
